:root, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat; background-position: center;
    background-size: 100%; background-color: rgb(28, 36, 58);
    background: linear-gradient(to top, rgba(117, 114, 113, 0.8) 10%, rgba(40, 49, 77, 0.8) 30%,
   rgba(29, 35, 71, 0.8) 50%, rgba(19, 25, 28, 0.8) 80%, rgba(15, 14, 14, .8) 100%),
    url(/img/fondo.jpg);
  }
  .bolaNavidad {
    width: 620px;
    height:330px;
    padding-bottom: 25%;
    background-size: cover;
    background-repeat: repeat;
    border-radius: 50%;
    box-shadow: -.75em -.25em 0 0 rgba(0,0,0,.1) inset,
    .2em .1em 0 0 rgba(255,255,255,.2) inset;
    animation: bolas 40s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 60%;     
  }#pie:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -20px;
        bottom:-100px;
        right: 0;
        background: url(/img/globe.svg) center center / contain no-repeat;
      }
  canvas,#particles-js{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
  
  }h1{
    color: #ff6;
    text-align: center;
    font-family: sans-serif;
    font-size: 6em;
    transform-origin: 50%;
    transform: perspective(300px) rotateX(20deg);
  }img{
 
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes bolas {
    from {
      background-position: left center;
    }
    to {
      background-position: -800px center;
    }
  }
  